<!DOCTYPE html>
<html lang="en">
    <%- include("../partial/head.ejs") %>
<body>
    <%- include("../partial/nav.ejs") %>
    <main>
      <% const currentDate = new Date();
         const formattedDate = currentDate.toDateString();
         %>
        <div class="container-fluid">
          <div class="row line">
            <h1 class="font text-center margin-top">Total Tasks Completion </h1>
            <div class="col-md-6 col-sm-12">
              <br>
              <br>
              <br>
              <canvas id="allChart">
              </canvas>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="col-10 ccenter ">
                <table class="table border">
                  <thead>
                    <tr>
                      <th scope="col">Type</th>
                      <th scope="col">Count</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (key in typeCount) {%>
                    <tr class="<%=key%>">
                      <th scope="row" class="<%=key%>"><%=key%></th>
                      <td><%=typeCount[key] %></td>
                    </tr>
                    <%}%>
                    <tr class="total">
                      <th scope="row" >Total</th>
                      <td><%=totalTasks %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>    
          <div class="row line">
            <h1 class="font text-center margin-top">Daily Tasks Completion </h1>
            <div class="col-md-6 col-sm-12">
              <canvas id="dailyChart">
              </canvas>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="col-10 ccenter">
                <h3 class="font text-center"><%=formattedDate%></h3>
                <table class="table border">
                  <thead>
                    <tr>
                      <th scope="col">Type</th>
                      <th scope="col">Count</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (key in dailyType) {%>
                    <tr class="<%=key%>">
                      <th scope="row" class="<%=key%>"><%=key%></th>
                      <td><%=dailyType[key] %></td>
                    </tr>
                    <%}%>
                    <tr class="total">
                      <th scope="row" >Total</th>
                      <td><%=daily %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row line">
            <h1 class="font text-center margin-top">Weekly Tasks Completion </h1>
            <div class="col-md-6 col-sm-12">
              <canvas id="weeklyChart">
              </canvas>
            </div>
             <div class="col-md-6 col-sm-12">
              <div class="col-10 ccenter">
                <h3 class="font text-center"><%=sunday.toDateString()%>  to  <%=formattedDate%></h3>
                <table class="table border">
                  <thead>
                    <tr>
                      <th scope="col">Type</th>
                      <th scope="col">Count</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (key in weeklyType) {%>
                    <tr class="<%=key%>">
                      <th scope="row"><%=key%></th>
                      <td><%=weeklyType[key] %></td>
                    </tr>
                    <%}%>
                    <tr class="total">
                      <th scope="row" >Total</th>
                      <td><%=weekly %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
             </div>
          </div>
          <div class="row line">
            <h1 class="font text-center margin-top">Monthly Tasks Completion </h1>
            <div class="col-md-6 col-sm-12">
              <br>
              <br>
              <canvas id="monthlyChart">
              </canvas>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="col-10 ccenter">
                <table class="table border">
                  <h3 class="font text-center"><%=firstDate.toDateString()%>  to  <%=formattedDate%></h3>
                  <thead>
                    <tr>
                      <th scope="col">Type</th>
                      <th scope="col">Count</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (key in monthlyType) {%>
                    <tr class="<%=key%>">
                      <th scope="row" class="<%=key%>"><%=key%></th>
                      <td><%=monthlyType[key] %></td>
                    </tr>
                    <%}%>
                    <tr class="total">
                      <th scope="row" >Total</th>
                      <td><%=monthly %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          
        </div>
    </main>
    <script>
        /////////////////Data/////////////////////////////////////////
        const dailyTypeData = <%- JSON.stringify(dailyType) %>;
        const weeklyTypeData = <%- JSON.stringify(weeklyType) %>;
        const monthlyTypeData = <%- JSON.stringify(monthlyType) %>;
        const typeData = <%- JSON.stringify(typeCount) %>;

        const eventTypeClass = {
            WORK: '#d4dbe5',
            STUDY: '#a4bdaa',
            FAMILY: '#e8c4a3',
            PERSONAL: '#f4e5bc',
            HEALTH: '#d1b6cc',
            FITNESS: '#d3b3b5',
            MISC: '#e6d4c8',
            LEISURE: '#dfefe5'
        }
                //////////////////Daily analysis///////////////////////////////
        const dailyLabels = [];
        const dailyValues = [];
        for (const key in dailyTypeData){
            dailyLabels.push(key);
            dailyValues.push(dailyTypeData[key]);
        }
      
        const ctxDay = document.getElementById('dailyChart').getContext('2d');
        const dailyChart = new Chart(ctxDay, {
          type: 'bar',
          data: {
            labels: dailyLabels,
            datasets: [{
              label: 'daily task count by event type',
              data: dailyTypeData,
              backgroundColor: dailyLabels.map(label => eventTypeClass[label]),
              borderColor: dailyLabels.map(label => eventTypeClass[label]),
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
        
        //////////////////weekly analysis///////////////////////////////
        const weeklyLabels = [];
        const weeklyValues = [];
        for (const key in weeklyTypeData){
            weeklyLabels.push(key);
            weeklyValues.push(weeklyTypeData[key]);
        }
      
        const ctxWeek = document.getElementById('weeklyChart').getContext('2d');
        const weeklyChart = new Chart(ctxWeek, {
          type: 'bar',
          data: {
            labels: weeklyLabels,
            datasets: [{
              label: 'Weekly task count by event type',
              data: weeklyTypeData,
              backgroundColor: weeklyLabels.map(label => eventTypeClass[label]),
              borderColor: weeklyLabels.map(label => eventTypeClass[label]),
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
        ///////monthly analysis/////////////////////////////////////////////////////////
        const monthlyLabels = Object.keys(monthlyTypeData);
        const monthlyValues = Object.values(monthlyTypeData);

        const ctxMonth = document.getElementById('monthlyChart').getContext('2d');
        const monthlyChart = new Chart(ctxMonth, {
          type: 'bar',
          data: {
            labels: monthlyLabels,
            datasets: [{
              label: 'Monthly task count by event type',
              data: monthlyTypeData,
              backgroundColor: monthlyLabels.map(label => eventTypeClass[label]),
              borderColor: monthlyLabels.map(label => eventTypeClass[label]),
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
        ///////////////////////////////Overall///////////////////////////////////
        const totalLabels = Object.keys(typeData);
        const totalValues = Object.values(typeData);

        const ctxAll = document.getElementById('allChart').getContext('2d');
        const totalChart = new Chart(ctxAll, {
          type: 'bar',
          data: {
            labels: totalLabels,
            datasets: [{
              label: 'Total task count by event type',
              data: typeData,
              backgroundColor: totalLabels.map(label => eventTypeClass[label]),
              borderColor: totalLabels.map(label => eventTypeClass[label]),
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      </script>
</body>
</html>