<!DOCTYPE html>
<html lang="en">
  <%- include("../partial/head.ejs") %>

<body>
 <%- include("../partial/nav.ejs") %>
 <main>    
        <form action="/event/date" method="GET">
            <div class="row">
              <div class="col-md-4">
                Date:
                <input type="date" name="date" class="form-control" value="<%=new Date().toISOString().split('T')[0]%>"/>
              </div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-secondary btntype"> Search</button>
              </div>
            </div>
        </form>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"> 
              <div class="division">
                <h1 class="text-center">Incomplete</h1>
                <% if (events.length=== 0) { %>
                    <h1>To-do Not Found</h1>
                <% } else { %>
                  <% for (let event of events) { %>
                    <%
                    const date = new Date(event.date);
                    const dateString = date.toLocaleDateString('en-US', { timeZone:'UTC', month: 'short', day: 'numeric', year: 'numeric' });
                    const startTime = new Date(event.startTime);
                    const startTimeString = event.startTime.toLocaleTimeString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true });
                    const endTime = new Date(event.endTime);
                    const endTimeString = endTime.toLocaleTimeString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }); 
                    %>
                    <% if (!event.completed) { %>
                    <div class="col-12 ">
                     <div class="text-center rec <%= event.eventType %>">
                        <div class="card-header line font"> <%=event.eventType %></div>
                        <div class="card-body">
                          <h5 class="card-title font"><a href="/event/<%=event._id%>"><%= event.eventTitle%></a></h5>
                          <div class="ulc">
                            <ul class="list-group">
                              <% if (event.subtasks) { %>
                                <% for (let list of event.subtasks){ %>
                                  <li class="list-group-item noline <%=event.eventType%>"><%=list%></li>
                                <% } %>
                              <% } %>
                            </ul>
                        </div>
                      </div>
                      <div class="card-footer text-body-secondary font upperline">
                          <%= dateString %> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; <%= startTimeString %> To <%= endTimeString %>
                      </div>
                  </div>
                </div>
                  <% } %>
                  <% } %>
                  <%}%>
                </div>
            </div>
             
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div class="division">
              <div class="row">
                <h1 class="text-center">Completed</h1>
                <% if (events.length=== 0) { %>
                  <h1>To-do Not Found</h1>
              <% } else { %>
                <% for (let event of events) { %>
                  <%
                  const date = new Date(event.date);
                  const dateString = date.toLocaleDateString('en-US', { timeZone:'UTC', month: 'short', day: 'numeric', year: 'numeric' });
                  const startTime = new Date(event.startTime);
                  const startTimeString = event.startTime.toLocaleTimeString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true });
                  const endTime = new Date(event.endTime);
                  const endTimeString = endTime.toLocaleTimeString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }); 
                  %>
                  <% if (event.completed) { %>
                  <div class="col-12">
                   <div class="text-center rec <%= event.eventType %>">
                      <div class="card-header line font"> <%=event.eventType %></div>
                      <div class="card-body">
                        <h5 class="card-title font"><a href="/event/<%=event._id%>"><%= event.eventTitle%></a></h5>
                        <!-- <p class="card-title"><%= event.completed=== true? "Completed":"Incomplete"%></p> -->
                        <div class="ulc">
                          <ul class="list-group">
                            <% if (event.subtasks) { %>
                              <% for (let list of event.subtasks){ %>
                                <li class="list-group-item noline <%=event.eventType%>"><%=list%></li>
                              <% } %>
                            <% } %>
                          </ul>
                      </div>
                    </div>
                    <div class="card-footer text-body-secondary upperline font">
                        <%=dateString %> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;<%= startTimeString %> To <%= endTimeString %>
                    </div>
                </div>
                  </div>
                <% } %>
                <% } %>
                <%}%>
              </div>
            </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pomotodo">
              <div class="division">
                <h1 class="text-center">Motivation</h1>
                <p><%= bucketlist.item %></p> 
                </div>
              <div class="division">
              <%- include("../partial/pomotodo.ejs") %>
              </div>
            </div>
        </div>
      </div>
 </main>
</body>
