<!DOCTYPE html>
<html lang="en">
  <%- include("../partial/head.ejs") %>

<body>
 <%- include("../partial/nav.ejs") %>
 <main>    
        <form action="/event/type" method="GET">
          <div class="row">
            <div class="col-md-3">
              To-Do Type:
              <select name="eventType" class="form-select form-select-lg mb-3" aria-label="Default select example">
                  <option value="" selected disabled>Select an option</option>
                  <option value="WORK">WORK</option>
                  <option value="STUDY">STUDY</option>
                  <option value="FAMILY">FAMILY</option>
                  <option value="PERSONAL">PERSONAL</option>
                  <option value="HEALTH">HEALTH</option>
                  <option value="FITNESS">FITNESS</option>
                  <option value="LEISURE">LEISURE</option>
                  <option value="MISC">MISC</option>
              </select>
          </div>
        <div class="col-md-3">
          Complete:
          <select name="completed" class="form-select form-select-lg mb-3" aria-label="Default select example">
              <option value="" selected disabled>Select an option</option> 
              <option value="true">completed</option>
              <option value="false">incomplete</option>
          </select>
      </div>
      <div class="col-md-3">
        Date:
        <input type="date" name="date" class="form-control dateheight" value=""/>
     </div>
        <div class="col-md-3">
          <button type="submit" class="btn btn-secondary btntype"> Search</button>
        </div>
            
          </div>
        </form>

        <div class="container-fluid">
          <% if (events.length=== 0) { %>
            <p>To-do Not Found</p>
          <% } else { %>
            <div class="row">
            <% for (let event of events) { %>
              <%
              const date = new Date(event.date);
              const dateString = date.toLocaleDateString('en-US', { timeZone:'UTC', month: 'short', day: 'numeric', year: 'numeric' });
              const startTime = new Date(event.startTime);
              const startTimeString = event.startTime.toLocaleTimeString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true });
              const endTime = new Date(event.endTime);
              const endTimeString = endTime.toLocaleTimeString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }); 
           %>
            <div class=" shape col-md-2 col-sm-4 col-xs-12">
            <div class="card text-center <%= event.eventType %>">
                <div class="card-header font">
                    <%=event.eventType %>
                </div>
                <div class="card-body">
                  <h5 class="card-title font"><a href="/event/<%=event._id%>"><%= event.eventTitle%></a></h5>
                  <p class="card-title"><%= event.completed=== true? "Completed":"Incomplete"%></p>
                  <!-- <% if (event.subtasks) { %>
                    <ul style="list-style: none;">
                    <% for (let list of event.subtasks){ %>
                        <li>
                        <input type="checkbox"> <span class="card-text"><%=list %></span>
                        </li>
                    <% } %>
                    </ul>
                  <% } %> -->
                </div>
                <div class="card-footer text-body-secondar font">
                    <%= dateString %> <br> <%= startTimeString %> To <%= endTimeString %>
                </div>
              </div>
            </div>
              <% } %>
            </div>
          <%}%>
        </div>
 </main>
</body>