<!DOCTYPE html>
<html lang="en">
    <%- include("../partial/head.ejs") %>
<body>
    <%- include("../partial/nav.ejs") %>
<main>
    <div class="container">
        <form class="row g-3" action="/event/<%-todo._id%>?_method=PUT" method="post">
        <fieldset>
            <legend class="font">Edit a To-do Item</legend>
            <div class="form-check form-switch col-md-6">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" name="completed" <%=todo.completed ? "checked": "" %> />
                <label class="form-check-label" for="flexSwitchCheckDefault">Completed</label>
            </div>
            <div class="col-md-6">
                <label>
                    Date: 
                    <input type="date" name="date" class="form-control" value="<%=todo.date.toISOString().split('T')[0]%>"/>
                </label>
            </div>
            <div class="col-md-6">
                <label>
                    Start Time: 
                    <input type="time" name="startTime" class="form-control" step="60" value="<%=todo.startTime.toLocaleTimeString('en-US', { hour: 'numeric', minute: 'numeric', hour12: false });%>"/>
                </label>
            </div>
            <div class="col-md-12">
                <label>
                    End Time: 
                    <input type="time" name="endTime" class="form-control" step="60" value="<%=todo.endTime.toLocaleTimeString('en-US', {hour: 'numeric', minute: 'numeric', hour12: false }) %>" />
                </label>
            </div>
            <div class="col-md-6">
                <label class="form-label">
                    To-Do Title:<input
                    class="form-control form-select-lg mb-3"
                    type="text"
                    name="eventTitle"
                    value="<%= todo.eventTitle %>"
                    placeholder="enter event title"
                    />
                </label>
            </div>
            <div class="col-md-6">
                To-Do Type:
                <select name="eventType" class="form-select form-select-lg mb-3" aria-label="Default select example">
                    <option selected><%=todo.eventType %></option>
                    <option value="WORK">WORK</option>
                    <option value="STUDY">STUDY</option>
                    <option value="FAMILY">FAMILY</option>
                    <option value="PERSONAL">PERSONAL</option>
                    <option value="HEALTH">HEALTH</option>
                    <option value="FITNESS">FITNESS</option>
                    <option value="LEISURE">LEISURE</option>
                    <option value="MISC">MISC</option>
                </select>
            </div>
            <div class="form-group col-md-12 task-container">
                <label for="sub-tasks">
                    Sub-tasks:
                </label>
                <div class="form-group task-container col-6">
                    <div class="form-floating">
                        <textarea class="form-control" name="subtasks" value="<%=todo.subtasks%>" id="floatingTextarea2" style="height: 200px"><%=todo.subtasks%></textarea>
                        <label for="floatingTextarea2">subtasks:</label>
                    </div>
                </div>
            </div>
        </fieldset>
        <input type="submit" value="Update" />
        </form>
        <script>
            console.log(todo.subtasks)
        </script>
    </div>
 </main>
</body>
</html>