<!DOCTYPE html>
<html lang="en">
    <%- include("../partial/head.ejs") %>
<body>
    <%- include("../partial/nav.ejs") %>
<main>
    <div class="container">
        <form class="row g-3" action="/event/<%-todo._id%>?_method=PUT" method="post">
        <fieldset>
            <legend>Edit a To-do Item</legend>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" name="completed" <%=todo.completed ? "checked": "" %> />
                <label class="form-check-label" for="flexSwitchCheckDefault">Important</label>
            </div>
            <div class="col-md-6">
                <label>
                    Date: 
                    <input type="date" name="date" class="form-control" value="<%=todo.date.toISOString().split('T')[0]%>"/>
                </label>
            </div>
            <div class="col-md-6">
                <label>
                    Start Time: 
                    <input type="time" name="startTime" class="form-control" step="60" value="<%=todo.startTime.toLocaleTimeString('en-US', { hour: 'numeric', minute: 'numeric', hour12: false });%>"/>
                </label>
            </div>
            <div class="col-md-12">
                <label>
                    End Time: 
                    <input type="time" name="endTime" class="form-control" step="60" value="<%=todo.endTime.toLocaleTimeString('en-US', {hour: 'numeric', minute: 'numeric', hour12: false }) %>" />
                </label>
            </div>
            <div class="col-md-6">
                <label class="form-label">
                    To-Do Title:<input
                    class="form-control form-select-lg mb-3"
                    type="text"
                    name="eventTitle"
                    value="<%= todo.eventTitle %>"
                    placeholder="enter event title"
                    />
                </label>
            </div>
            <div class="col-md-6">
                To-Do Type:
                <select name="eventType" class="form-select form-select-lg mb-3" aria-label="Default select example">
                    <option selected><%=todo.eventType %></option>
                    <option value="work">WORK</option>
                    <option value="study">STUDY</option>
                    <option value="family">FAMILY</option>
                    <option value="personal">PERSONAL</option>
                    <option value="health">HEALTH</option>
                    <option value="sleep">SLEEP</option>
                    <option value="fun">FUN</option>
                    <option value="misc">MISC</option>
                </select>
            </div>
            <div class="col-md-12 task-container">
              <label>
                Sub-tasks:
                <ul>
                    <div class="tasks">
                        
                        <% todo.subtasks.forEach(function(list){ %>
                            <li>
                                <input type="text" name="subtask" value="<%=list%>" class="form-control form-select-sm mb-2" >
                                <span><button class="delete btn-close"></button></span>
                            </li>
                        <%})%>
                       
                    </div>
                </ul>
                        <input type="text" class="todotask form-control" name="subtask" placeholder="Add task">
                        <span><button id="add-task">Add Task</button></span>  
              </label>
            </div>
        </fieldset>
        <input type="submit" value="Update" />
        </form>
    </div>
 </main>
</body>
<script>
    const subtasks=todo.subtasks;
    $('#add-task').click(function(event) {
        event.preventDefault();
        const taskValue = $('.todotask').val();
        const newTask = `<div class="list"><li><input type="hidden" name="subtasks" value="${taskValue}">${taskValue}<button class="delete btn-close"></button></li></div>`;
        $('.tasks').append(newTask);
        todo.subtasks.push(taskValue);
        $('todotask').val('')
    });
    $('.delete').on('click', function(event){
            event.preventDefault();
            console.log(event.currentTarget)
            // const index=eventSublist.indexOf($(this).val());
            // eventSublist.slice(index,1);
            // $(this).closest('.task').remove();
    })

</script>
</html>