<!DOCTYPE html>
<html lang="en">
  <%- include("../partial/head.ejs") %>

<body>
 <%- include("../partial/nav.ejs") %>
 <main>    
            <%
           const date = new Date(event.date);
           const dateString = date.toLocaleDateString('en-US', { timeZone:'UTC', month: 'short', day: 'numeric', year: 'numeric' });
           const startTime = new Date(event.startTime);
           const startTimeString = startTime.toLocaleTimeString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }); 
           const endTime = new Date(event.endTime);
           const endTimeString = endTime.toLocaleTimeString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }); 
        %>  
    <div class="container-sm <%=event.eventType %>">
      <div class="row line">
        <div class="col-9">
          <div class="card-header">
            <h4 class="font"><%= event.eventType %></h4>
            <h1 class="mb-0 font"><%=event.eventTitle %></h1>
            <br>
          </div>
        </div>
        <div class="col-3">
          <h4 class="mb-3 font"><%= event.completed===true? "Completed": "Incomplete"%></h4>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-6">
          <div class="card-body">
            <br>
            <h2 class="mb-3 font"><%= dateString %></h2>
            <h3 class="font"><%= startTimeString %> To <%= endTimeString %></h3>
      
          </div>
          <div class="btn-group" role="group">
            <button type='submit' class='btn'><a href="/event/<%=event._id%>/edit" class="yellow">Edit</a></button>
            <form action="/event/<%=event._id%>?_method=DELETE" method="POST">
              <button type="submit" class="btn brown">Delete</button>
            </form>
          </div>
        </div>
    
        <div class="col-md-6">
          <div class="card-footer">  
            <br>
            <h4 class="font">Subtasks:</h4>
            <ul class="list-group">
              <% if (event.subtasks) { %>
                <% for (let list of event.subtasks){ %>
                  <li class="list-group-item"><%=list%></li>
                <% } %>
              <% } %>
            </ul>
            
          </div>
        </div>
      </div>
    </div>
 </main>
</body>