<!DOCTYPE html>
<html lang="en">
  <%- include("../partial/head.ejs") %>

<body>
 <%- include("../partial/nav.ejs") %>
 <main>
    <div class="container">
    <div class="card text-center">
        <div class="card-header">
            <%
           const date = new Date(event.date);
           const dateString = date.toLocaleDateString('en-US', { timeZone:'UTC', month: 'short', day: 'numeric', year: 'numeric' });
           const startTime = new Date(event.startTime);
           const startTimeString = startTime.toLocaleTimeString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }); 
           const endTime = new Date(event.endTime);
           const endTimeString = endTime.toLocaleTimeString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }); 
        %>
            
            <%=event.eventType %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= event.eventTitle%></h5>
          <h5 class="card-title">Repeat:<%= event.repeat%></h5>
          <h5 class="card-title">important:<%= event.important%></h5>
          <% if (event.subtasks) { %>
            <ul style="list-style: none;">
            <% for (let list of event.subtasks){ %>
                <li>
                 <h5 class="card-text"><%=list.subtask %></h5>
                </li>
            <% } %>
            </ul>
          <% } %>
        </div>
        <div class="card-footer text-body-secondary">
            <%= dateString %> From <%= startTimeString %> To <%= endTimeString %>
            <a href="/event/<%=event._id%>/edit" class="btn btn-warning">edit</a>
            <form action="/event/<%=event._id%>?_method=DELETE" method="POST">
            <input type="submit" class="btn btn-danger" value="Delete"/></form>
        </div>
      </div>
    </div>
 </main>
</body>